.root{
    -fx-background-color: #222;
    -fx-background-radius: 28;
}
.mainPane{
    -fx-background-color:linear-gradient(to bottom right, #F65E65, #685ACD);
    -fx-background-radius: 15 15 28 28;
}
.title{
    -fx-background-color: TRANSPARENT;
}
.minimize{
    -fx-background-color: TRANSPARENT;
}
.close{
    -fx-background-color: TRANSPARENT;
}
.secondPane{
    /*-fx-background-color: #685ACD;*/
}